@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,300;0,700;1,100;1,300&display=swap');

html{
    font-family: 'Taviraj', serif;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 0.8px;
}

body {
    margin: 0;
    background: #fff;
    font-family: 'Taviraj', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  /* Radio buttons */
/* input[type='radio'] */
.radio {
  accent-color: black;
  opacity: 0.3;
} 

.radio:checked {
    accent-color: rgb(0, 153, 255) !important;

}
input[type=radio]:checked ~ label{
  color: #424443;
}
.dark input[type=radio]:checked ~ label{
  color:rgba(0, 153, 255, 0.7) ;
}
  
 /* Remove any borders from the canvas */
  :focus{
    outline: 0 !important;
  }

  /* Placeholder (at the top) */
.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
  font-weight: 300;
}

/* Computer lines & Typing animation */
.computer {
   font-style: italic;
} 

/* .computer:nth-child(){
  animation: typing 5s steps(22);
  white-space: nowrap;
  overflow: hidden;

}  */

 .computer:nth-last-child(2){
  width: 100%;
  animation: typing 1.5s steps(40);
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  

}

@keyframes typing {
  from { 
      width: 0; 
     opacity: 0;
  }

}

/* Poem Heading */
.ProseMirror h2{
  font-size: 1.5em;
  font-weight: 300;
}


.menuAppear{
  animation: appear 1s ease-in;
  height: fit-content;
  overflow: hidden;
  /* border: 1px solid #adb5bd; */
  transition: height 0.5s;
}

@keyframes appear {
  from{
    height: 0;
  }
  to {
    height: 50vh;
  }
}

/* Print */
/* You can set elements as class: no-print so they don't appear on the final print 
changing the margin hides the filepath, date etc, which are inserted by the browser.
*/
@media print
{    
    .no-print, .no-print *
    {
        display: none !important; 
    }

    @page { margin: 0; };
}

/*Loading*/
/* Thanks to: https://loading.io/css/ */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #C4C4C4;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #C4C4C4 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.innerDial{
  
  display: inline-flex;
}
