@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

html{
    font-family: 'Libre', serif;
}

body {
    margin: 0;
    background: #eee;
    font-family: 'Libre', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  /* Radio buttons */
input[type='radio']{
  accent-color: black;

}

  
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  :focus{
    outline: 0 !important;
    
  }

  /* Placeholder (at the top) */
.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}

/* Typing animation */
/* .my-custom-paragraph  {
  overflow: hidden; 
  border-right: .15em solid orange; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

 The typing effect 
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

 The typewriter cursor effect 
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
} */
  